extensions:
        - php
        - html
        - phtml
exclude:
        - vendor/
        - logs/
        - tests/
        - docs/
        - nbproject
accessLevels:
        - public
        - protected
        - private
charset:
        - utf-8
# Generate tree view of classes, interfaces and exceptions
tree: Yes
debug: Yes
sourceCode: Yes
# Source file or directory to parse
source:
        - example_models/
        - ./
# Directory where to save the generated documentation
destination: /home/env/documentation/odbal/
title: Oracle DataBase Abstraction Layer